$h1-font-size: 32px;
$h2-font-size: 20px;
$h3-font-size: 16px;
$h4-font-size: 16px;
$h5-font-size: 14px;
$h6-font-size: 12px;

$headings-margin-bottom: 0;
$headings-font-weight: 400;

$enable-responsive-font-sizes: true;

$paragraph-margin-bottom: 0;

h4,
.h4 {
  font-weight: 100 !important;
}

h3,
.h3 {
  font-weight: 500 !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}